<div class="group {% if active %}open{% endif %}" data-component="accordion" data-group="{{ group }}">
  <button type="button" class="flex items-center" data-toggle>
    <span class="text-md font-semibold">{{- title -}}</span>
    <span class="w-6 h-6 bg-red-600 block ml-4 group-open:rotate-90 transition-transform duration-300"></span>
  </button>
  <article class="group-open:h-[var(--innerHeight)] h-0 overflow-hidden transition-all duration-500 prose" data-inner>{{- content -}}</article>
</div>