{%- liquid
  assign price = price | default: product.price
  assign compare_at = compare_at | default: product.compare_at_price
  assign data_attributes = data_attributes | default: false
-%}

<div class="price--outer">
  <span class="price" {% if data_attributes %}data-price{% endif %}>{{- price | money -}}</span>
  {%- if compare_at > price or data_attributes -%}
    <span class="price price--old line-through ml-2 opacity-60" {% if data_attributes %}data-compare-at-price{% endif %}>{{- compare_at | money -}}</span>
  {%- endif -%}
</div>