{%- assign width = icon_width | default: 'w-10' -%}

<div class="flex flex-wrap px-6 pb-6 justify-center gap-2">
  {%- if settings.payment_ideal -%}
    {%-
      render 'component.icon', 
      type: 'ideal',
      class: width
    -%}
  {%- endif -%}
  {%- if settings.payment_klarna -%}
    {%-
      render 'component.icon', 
      type: 'klarna',
      class: width
    -%}  
  {%- endif -%}
  {%- if settings.payment_paypal -%}
    {%-
      render 'component.icon', 
      type: 'paypal',
      class: width
    -%}
  {%- endif -%}
  {%- if settings.payment_mastercard -%}
    {%-
      render 'component.icon', 
      type: 'mastercard',
      class: width
    -%}  
  {%- endif -%}
  {%- if settings.payment_visa -%}
    {%-
      render 'component.icon', 
      type: 'visa',
      class: width
    -%}  
  {%- endif -%}
  {%- if settings.payment_applepay -%}
    {%-
      render 'component.icon', 
      type: 'applepay',
      class: width
    -%}
  {%- endif -%}
  {%- if settings.payment_googlepay -%}
    {%-
      render 'component.icon', 
      type: 'googlepay',
      class: width
    -%}  
  {%- endif -%}
</div>
