@use 'index' as global;

html {
  background: #f00;
  font-size: calc(10 / 375 * 100vw);
  padding-bottom: 0 !important;
  scroll-behavior: smooth;

  @include global.breakpoint() {
    font-size: calc(10 / 1440 * 100vw);
  }
}

* {
  font-size: 1.6rem;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// stylelint-disable selector-max-id
#preview-bar-iframe { 
  opacity: 0;
  transition: 0.4s global.$ease-in-out-expo opacity;

  &:hover {
    opacity: 1;
  }
}
// stylelint-enable selector-max-id

.development-grid {
  bottom: 0;
  display: block;
  left: 0;
  margin: 0 auto;
  min-height: 100vh;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.swiper-wrapper,
.keen-slider {
  display: flex;
}

.swiper-container,
.keen-slider {
  overflow: hidden;
}

// stylelint-disable selector-class-pattern
.swiper-slide,
.keen-slider__slide {
  flex-shrink: 0;
  width: 100%;
}
// stylelint-enable
.js-variant{
  display: none;
  visibility: hidden;
}

.skip-to-content {
  background: #fff;
  box-shadow: 0 1.2rem 2.4rem -1rem rgba(#000, 0.16);
  font-size: 1.6rem;
  left: 2rem;
  opacity: 0;
  padding: 1em 1.25em;
  pointer-events: none;
  position: fixed;
  top: 2rem;
  transform: translateY(-2rem);
  transition: .5s ease all;
  transition-property: transform, opacity;
  z-index: 1500;

  &:focus{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}