@font-face {
  font-display: swap;
  font-family: 'GTAmerica-regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/GT-America-Regular.woff2') format('woff2'),
    url('../assets/GT-America-Regular.woff') format('woff');
}