:root {
  --ease: ease-in-out;
  --cubic: cubic-bezier(0.12, 0.67, 0.53, 1);
}

// Insert all z-index's here
$z-index-header: 10;
$z-index-pop-up: 100;

// Columns width
$column: 1.5625rem;
$columnlarge: 6rem;

$mobile-breakpoint: 1024px;