<h1 class="text-3xl font-bold text-second">{{- blog.title -}}</h1>

{%- for article in block.articles -%}
  <a href="{{- article.url -}}" class="text-xl text-primary underline">{{- article.title -}}</a>
{%- endfor -%}