{%- liquid
  assign s = section.settings
-%}

<div class="text-image" data-id="{{- section.id -}}">
  <div class="text-image__wrapper">
    {%- 
      render 'component.goat',
      img: s.image,
      mobile_img: s.mobile_image,
      max_width: 2560,
    -%}
  </div>
</div>


{% schema %}
  {
    "name": "Text image",
    "class": "text-image--outer",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ],
    "presets": [
      {
        "name": "Text image"
      }
    ]
  }
{% endschema %}
