{%- liquid
  assign s = section.settings
-%}

<div class="text-image">
  <div class="text-image__wrapper">
    {%- 
      render 'component.image',
      img: s.image,
      desktop_img: s.desktop_image,
      max_width: 2560,
      alt: s.title
    -%}
  </div>
</div>


{% schema %}
  {
    "name": "Text image",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ],
    "presets": [
      {
        "name": "Text image"
      }
    ]
  }
{% endschema %}
