.skip-to-content {
  background: #fff;
  box-shadow: 0 1.2rem 2.4rem -1rem rgba(#000, 0.16);
  font-size: 1.6rem;
  left: 2rem;
  opacity: 0;
  padding: 1em 1.25em;
  pointer-events: none;
  position: fixed;
  top: 2rem;
  transform: translateY(-2rem);
  transition: .5s ease all;
  transition-property: transform, opacity;
  z-index: 1500;
}

.skip-to-content:focus{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}