/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./styles/main.scss ***!
  \***************************************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-display: swap;
  font-family: "GTAmerica-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/GT-America-Regular.woff2") format("woff2"), url("../assets/GT-America-Regular.woff") format("woff");
}
:root {
  --ease: ease-in-out;
  --cubic: cubic-bezier(0.12, 0.67, 0.53, 1);
}

html {
  background: #f00;
  font-size: calc(10 / 375 * 100vw);
  padding-bottom: 0 !important;
  scroll-behavior: smooth;
}
@media (min-width: 1024px) {
  html {
    font-size: calc(10 / 1440 * 100vw);
  }
}

* {
  font-size: 1.6rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}

#preview-bar-iframe {
  opacity: 0;
  transition: 0.4s cubic-bezier(1, 0, 0, 1) opacity;
}
#preview-bar-iframe:hover {
  opacity: 1;
}

.development-grid {
  bottom: 0;
  display: block;
  left: 0;
  margin: 0 auto;
  min-height: 100vh;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.swiper-wrapper,
.keen-slider {
  display: flex;
}

.swiper-container,
.keen-slider {
  overflow: hidden;
}

.swiper-slide,
.keen-slider__slide {
  flex-shrink: 0;
  width: 100%;
}

.js-variant {
  display: none;
  visibility: hidden;
}

.skip-to-content {
  background: #fff;
  box-shadow: 0 1.2rem 2.4rem -1rem rgba(0, 0, 0, 0.16);
  font-size: 1.6rem;
  left: 2rem;
  opacity: 0;
  padding: 1em 1.25em;
  pointer-events: none;
  position: fixed;
  top: 2rem;
  transform: translateY(-2rem);
  transition: 0.5s ease all;
  transition-property: transform, opacity;
  z-index: 1500;
}
.skip-to-content:focus {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* ---------------------------------------------------------------------
Lazy sizes
--------------------------------------------------------------------- */
.blur-up {
  filter: blur(5px);
  transition: filter 400ms;
}

.blur-up.lazyloaded {
  filter: blur(0);
}

.loadbox {
  background: transparent;
  display: inline-block;
  position: relative;
}
.loadbox::before {
  animation: loader 0.5s ease-in infinite;
  content: "";
  display: none;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  z-index: -1;
}

.loadbox--transparent {
  background: transparent;
  display: inline;
  position: static;
}

.loadbox--block {
  display: block;
}

.loadbox--full-height {
  display: block;
  height: 100%;
  width: 100%;
}

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
.lazyloading:not(.blur-up),
.lazyload:not(.blur-up),
.lazyloaded:not(.blur-up) {
  position: relative;
}

.lazyloading:not(.blur-up),
.lazyload:not(.blur-up) {
  opacity: 0;
  padding-bottom: 100%;
  padding-bottom: calc( (1 / var(--aspect-ratio)) * 100% );
  /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

.lazyloaded:not(.blur-up) {
  opacity: 1;
}

.accordion__header {
  align-items: center;
  appearance: none;
  background: none;
  border: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.accordion__header::after {
  background: #f00;
  content: "";
  display: block;
  font-size: 2.4rem;
  height: 1em;
  transition: 0.3s ease transform;
  width: 1em;
}
.accordion--active .accordion__header::after {
  transform: rotate(90deg);
}
.accordion__inner {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease height;
}
.accordion--active .accordion__inner {
  height: var(--innerHeight, auto);
}

.text-image__wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
}
@media (min-width: 1024px) {
  .text-image__wrapper {
    flex-flow: row;
  }
}
.text-image__image {
  height: auto;
  width: 100%;
}
@media (min-width: 1024px) {
  .text-image__image {
    width: 60rem;
  }
}
.text-image__image img {
  width: 100%;
}
