.accordion {
  &__header {
    align-items: center;
    appearance: none;
    background: none;
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;

    &::after{
      background: #f00;
      content: "";
      display: block;
      font-size: 2.4rem;
      height: 1em;
      transition: .3s ease transform;
      width: 1em;
    }

    .accordion--active &::after {
      transform: rotate(90deg);
    }
  }

  &__inner {
    height: 0;
    overflow: hidden;
    transition: .3s ease height;

    .accordion--active & {
      height: var(--innerHeight, auto);
    }
  }
}