@use '../global';

.text-image{
  &__wrapper {
    align-items: center;
    display: flex;
    flex-flow: column;

    @include global.breakpoint {
      flex-flow: row;
    }
  }

  &__image {
    height: auto;
    width: 100%;

    @include global.breakpoint {
      width: 60rem;
    }

    img {
      width: 100%;
    }
  }
}