@import 'components/skip-to-content.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* stylelint-disable-next-line selector-no-qualifying-type */
html.no-js .js-only-elem,
html:not(.no-js) .no-js-elem {
  display: none;
  visibility: hidden;
}

/* stylelint-disable selector-class-pattern */
@layer utilities {
  .h-innerHeight {
    height: var(--innerHeight, auto);
  }

  @variants group-open, open {
    .h-innerHeight {
      height: var(--innerHeight, auto);
    }
  }
}
/* stylelint-enable selector-class-pattern */