@import 'components/skip-to-content.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Circular';
    font-weight: 300;
    src: url('/assets/circular-book.woff2') format('woff2'), url('/assets/circular-book.woff') format('woff')
  }
  @font-face {
    font-display: swap;
    font-family: 'Circular';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/circular-medium-italic.woff2') format('woff2'), url('/assets/circular-medium-italic.woff') format('woff');
  }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
html.no-js .js-only-elem,
html:not(.no-js) .no-js-elem {
  display: none;
  visibility: hidden;
}